.no-settings {
  text-align: center;
  padding: 3em;
  font-size: 1.2em;
  background: #e7e7e7;
  margin: 25px auto;
}

.smsc-send-message-form {
  margin: 50px auto 0;
  max-width: 1200px;
}

.smsc-info--balance {
  text-align: center;
  width: 100%;
  font-size: 1.4em;
  padding: 25px 0;
}

.smsc-send-message-form:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
}

.message-form * {
  box-sizing: border-box;
}

.message-form input[type="text"],
.message-form textarea {
  width: 100%;
}

.smsc-info--balance--amount > div {
  display: inline;
}

@media screen and (min-width: 640px) {
  
  .message-form {
    max-width: 640px;
    width: 50%;
    float: left;
    padding: 0 25px;
    box-sizing: border-box;
  }
  
}
